<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-attribute-authority-definition-heading" jhiTranslate="jhipsterSampleApplicationaaApp.attributeAuthorityDefinition.home.createOrEditLabel">Create or edit a Attribute Authority Definition</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationaaApp.attributeAuthorityDefinition.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationaaApp.attributeAuthorityDefinition.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationaaApp.attributeAuthorityDefinition.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationaaApp.attributeAuthorityDefinition.enabled" for="field_enabled">Enabled</label>
                    <input type="checkbox" class="form-control" name="enabled" id="field_enabled"
                           formControlName="enabled"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationaaApp.attributeAuthorityDefinition.spidLevel" for="field_spidLevel">Spid Level</label>
                    <input type="text" class="form-control" name="spidLevel" id="field_spidLevel"
                           formControlName="spidLevel"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationaaApp.attributeAuthorityDefinition.attributesUrl" for="field_attributesUrl">Attributes Url</label>
                    <input type="text" class="form-control" name="attributesUrl" id="field_attributesUrl"
                           formControlName="attributesUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationaaApp.attributeAuthorityDefinition.consentRequired" for="field_consentRequired">Consent Required</label>
                    <input type="checkbox" class="form-control" name="consentRequired" id="field_consentRequired"
                           formControlName="consentRequired"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationaaApp.attributeAuthorityDefinition.consentUrl" for="field_consentUrl">Consent Url</label>
                    <input type="text" class="form-control" name="consentUrl" id="field_consentUrl"
                           formControlName="consentUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationaaApp.attributeAuthorityDefinition.checkConsentUrl" for="field_checkConsentUrl">Check Consent Url</label>
                    <input type="text" class="form-control" name="checkConsentUrl" id="field_checkConsentUrl"
                           formControlName="checkConsentUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationaaApp.attributeAuthorityDefinition.errorRedirectUrl" for="field_errorRedirectUrl">Error Redirect Url</label>
                    <input type="text" class="form-control" name="errorRedirectUrl" id="field_errorRedirectUrl"
                           formControlName="errorRedirectUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationaaApp.attributeAuthorityDefinition.spidSchemaVersion" for="field_spidSchemaVersion">Spid Schema Version</label>
                    <input type="text" class="form-control" name="spidSchemaVersion" id="field_spidSchemaVersion"
                           formControlName="spidSchemaVersion"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationaaApp.attributeAuthorityDefinition.apiVersion" for="field_apiVersion">Api Version</label>
                    <input type="text" class="form-control" name="apiVersion" id="field_apiVersion"
                           formControlName="apiVersion"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationaaApp.attributeAuthorityDefinition.testUrl" for="field_testUrl">Test Url</label>
                    <input type="text" class="form-control" name="testUrl" id="field_testUrl"
                           formControlName="testUrl"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
